<p>calculator works!</p>
<div class="maindisplay">
    <div class="subdisplay">{{ subText }}</div>
    {{ mainText }}
</div>
<div class="keypad">
    <div (click)="allClear()">AC</div>
    <div (click)="pressKey('.')">.</div>
    <div (click)="getAnswer()">=</div>
    <div (click)="pressKey('/')">/</div>
    <div (click)="pressKey('7')">7</div>
    <div (click)="pressKey('8')">8</div>
    <div (click)="pressKey('9')">9</div>
    <div (click)="pressKey('x')">x</div>
    <div (click)="pressKey('4')">4</div>
    <div (click)="pressKey('5')">5</div>
    <div (click)="pressKey('6')">6</div>
    <div (click)="pressKey('-')">-</div>
    <div (click)="pressKey('1')">1</div>
    <div (click)="pressKey('2')">2</div>
    <div (click)="pressKey('3')">3</div>
    <div (click)="pressKey('+')">+</div>
    <div (click)="pressKey('0')">0</div>
    
</div>