<h3> Custom Directive Demonstration</h3>
<p appCustomDirectiveDemo>Custom Directive Implementation</p>
<input [(ngModel)]="title">
{{title}}
<hr>

<h3>Class Binding Demonstration</h3>
<app-class-binding-demo></app-class-binding-demo>
<hr>

<h3>Two-Way Data Binding Demonstration</h3>
<app-two-waybinding></app-two-waybinding>
<hr>

<h3>Bootstrap Demonstration</h3>
<app-bootstrapdemo></app-bootstrapdemo>
<hr>

<h3>Child Parent component communication Demonstration</h3>
<p>Inside Parent</p>
<app-child [parentData] = "str" (childEvent) = "Message = $event">{{Message}}</app-child>
{{Message}}
<hr>

<h3>Style Binding Demonstration</h3>
<app-style-binding-demo></app-style-binding-demo>
<hr>

<h3>Two Way binding without ngModel directive</h3>
<app-two-way-binding-without-ng-model></app-two-way-binding-without-ng-model>
<hr>

<!-- <h3>Calculator Demonstration</h3>
<app-calculator></app-calculator>
<hr> -->

<h3>*ngFor Demonstration</h3>
<app-ng-for-demo></app-ng-for-demo>
<hr>

<h3>Class Binding Demonstration Assignment</h3>
<app-first-component></app-first-component>
<app-second-component></app-second-component>
<hr>

<h3>Function call using string interpolation Demonstration</h3>
<app-function-call-by-string-interpolation></app-function-call-by-string-interpolation>
<hr>

<h3>Event Binding Demo</h3>
<app-event-binding-demo></app-event-binding-demo>
<hr>

<h3>String case conversion using event binding</h3>
<app-string-case-conversion></app-string-case-conversion>
<hr>

<h3>Inter component communication Demonstration</h3>
<app-inter-component-communication [name] = 'stringForChild' (childToParentEvent)="Message=$event"></app-inter-component-communication>
{{Message}}
{{messageFromChild}}
<hr>

<h3>String length calculation with ngModel</h3>
<app-string-length-calculation-with-ng-model></app-string-length-calculation-with-ng-model>
<hr>

<h3>Service and Dependancy Injection Demonstration</h3>
<app-service-demo></app-service-demo>
<app-service-demo2></app-service-demo2>
<app-service-demo3></app-service-demo3>
<hr>

<h3>Http service & Observables</h3>
<app-class-list></app-class-list>
<app-class-details></app-class-details>
<hr>