<h3> Custom Directive Demonstration</h3>
<p appCustomDirectiveDemo>Custom Directive Implementation</p>
<input [(ngModel)]="title">
{{title}}
<hr>

<h3>Class Binding Demonstration</h3>
<app-class-binding-demo></app-class-binding-demo>
<hr>

<h3>Two-Way Data Binding Demonstration</h3>
<app-two-waybinding></app-two-waybinding>
<hr>

<h3>Bootstrap Demonstration</h3>
<app-bootstrapdemo></app-bootstrapdemo>
<hr>

<h3>Child Parent component communication Demonstration</h3>
<p>Inside Parent</p>
<app-child [parentData] = "str" (childEvent) = "Message = $event">{{Message}}</app-child>
{{Message}}
<hr>

<h3>Style Binding Demonstration</h3>
<app-style-binding-demo></app-style-binding-demo>
<hr>

<h3>Two Way binding without ngModel directive</h3>
<app-two-way-binding-without-ng-model></app-two-way-binding-without-ng-model>
<hr>

<!-- <h3>Calculator Demonstration</h3>
<app-calculator></app-calculator>
<hr> -->

<h3>*ngFor Demonstration</h3>
<app-ng-for-demo></app-ng-for-demo>